@model BarterMarket.Models.IndexModel

@{
    ViewBag.Title = "PR MONEY Market | PR Money Market";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";   
}

<!-- Home Content Part - Slider ==================================================
    ================================================== -->
    <div class="flexslider">
      <ul class="slides">
        <li> <a href="#"><img src="@Url.Content("~/Content/images/flexslider/3.jpg")" alt=""/></a> </li>
        <li> <a href="#"><img src="@Url.Content("~/Content/images/flexslider/6.jpg")" alt=""/></a> </li>
        <li> <a href="#"><img src="@Url.Content("~/Content/images/flexslider/4.jpg")" alt=""/></a> </li>
      </ul>
    </div>

        <div class="container resume">
          <h2>Приветствую тебя на платформе пиар мани маркет</h2>
          <p>Представь, что есть мир, в котором твои товары и услуги всегда пользуются спросом... 
              И Вам не нужно самим  искать клиентов, вкладывать уйму денег в рекламу, создавать сайты, интернет магазины</p>
        </div>
    <div class="video container resume">    
        <iframe width="560" height="315" src="https://www.youtube.com/embed/alFaQ7b3k9w?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- Home Content Part - Box One ==================================================
    ================================================== -->
    <div class="blankSeparator"></div>
    <div class="container">
      <div class="info">
        <div class="one_third">
          <h2>Вы бы хотели в такой мир?</h2>
          <p>Пиар мани маркет и есть этот мир. 
                Вам достаточно один раз разместиться на ней, выставить своё предложение или серию предложений, а всю маркетинговую и пиар составляющую мы возьмем на себя.
              И самое важное: до 1 июля размещение на платформе бесплатно, поэтому, если тебе есть, что предложить миру (услуги, нереализованный товар) прям сейчас жми на кнопку добавить своё предложение, 
            заполняй анкету и мы разместим Вас в течении 3-х дней</p> 
	    </div>
        <div class="two_third lastcolumn">
          <div class="one_half">
            <h2>Кому будет выгодна наша платформа?</h2>
            <p>Да всем у кого есть свобное время или залежавшийся товар и кто хочет его монетизировать. Ну, например: у Вас свой тренажерный клуб, салон красоты, 
                вы онлайн школа или у Вас 500 не проданых мишек из роз - час простоя это упущенная прибыль, согласны?
                Один раз разместившись на нашей платформе и выставив свои сертификаты на товары и услуги, вы начинаете получать заказы и монетизировать их.
                За каждую выполненную работу Вы получаете наши ПИАРЫ. 1 пиар=1 рублю.
                В свою очередь Вы можете приобрести желаемый вам сертификат у других  и наконец-то сделать себе сайт, настроить рекламу, поехать отдыхать семьёй или записать ребенка на дополнительные занятия. 
                С каждым днем список предложений будет увеличиваться, а значит выбор куда потратить ПИАРЫ тоже будет увеличиваться.
                Если вы удовлетворяете все свои потребности пиарами и не тратите деньги на то, на что  приходилось тратить это означает, одно</p>
          </div>  
          <div class="one_half lastcolumn">
            <h2>Вы становитесь богаче</h2>
            <p>Заходите во вкладку <a href="/Default/OfferRequest">ДОБАВИТЬ СВОЕ ПРЕДЛОЖЕНИЕ</a> и получайте кайф от возможностей нашей платформы.
            Выводить ПИАРЫ  пока что Вы не можете, но использовать их для желанных покупок - всегда пожалуйста.
            Увидемся в мире бесплатного пиара</p>
          </div>
        </div>
      </div>
    </div>
    <!-- container ends here --> 

    <!-- Home Content Part - Box Three ==================================================
    ================================================== -->
    @*<div class="container boxthree">
      <div class="sepContainer1"></div>
      <div class="blankSeparator"></div>
      <h2>Последние предложения</h2>
      <div class="one_third">
        <section class="boxthreeleft"> <img src="@Url.Content("~/Content/images/home/1.png")" alt=""/>
          <h3>Педикюр</h3>
          <p>Отличный педикюр. Быстро и доступно! </p>
          <a class ="simple" href="#">+ Подробнее</a> </section>
      </div>
      <!-- one-third column ends here -->
      <div class="one_third">
        <section class="boxthreecenter"> <img src="@Url.Content("~/Content/images/home/2.png")" alt=""/>
          <h3>Маникюр</h3>
          <p>Отличный маникюр. Круто и недорого. </p>
          <a class ="simple" href="#">+ Подробнее</a> </section>
      </div>
      <!-- one-third column ends here -->
      <div class="one_third lastcolumn">
        <section class="boxthreeright"> <img src="@Url.Content("~/Content/images/home/3.png")" alt=""/>
          <h3>Продажа кексов</h3>
          <p>Очень вкусные кексы!</p>
          <a class ="simple" href="#">+ Подробнее</a> </section>
      </div>
      <!-- one-third column ends here -->

    </div>
    <!-- container ends here -->
    <div class="blankSeparator1"></div>*@

